*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: monospace;
    font-size: 10px;
}
p{
    font-size: 1.5rem;
}

:root{
    --rojo: red;
    --verde: green;
    --amarillo: #F7E914;
    --gris: #C4C4C4;
    --texto: black;
    --letra: 'Roboto', sans-serif;
    
    --h1 : 2.5rem;
    --h2 : 2rem;
    --h3 : 2rem;
    --parrafo : 1.59rem;
}

.background-Section{
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.section-body{
    max-width: 130rem;
    height: auto;
    margin: auto;
}